* {
  box-sizing: revert !important;
}

h1 {
  /* text-transform: uppercase; */
  color: #F6823F;
  font-weight: bold !important;
  font-size: 30px !important;
  margin-bottom: 16px !important;
}

.slide {
  overflow: auto;
  white-space: nowrap;
}

.card {
  height: 100%;
  width: 250px;
  background-color: #FFF;
  border: 1px solid #E7E7E7;
  border-radius: 34px !important;
  display: inline-block;
  transition: 0.1s;
}

/* .card:hover {
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
} */

.card .pet {
  width: 250px;
  height: 160px;
  object-fit: cover;
  border-radius: 34px 34px 0 0;
}

.info {
  padding-top: 0 !important;
  padding: 17px;
}

.femea,
.macho {
  background: #F6823F;
  padding: 5px;
  border-radius: 20px;
  color: #FFF;
}

.cardHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.cardHeader .nome {
  text-transform: uppercase;
  margin: 0.5em 0em;
  font-weight: bold;
}

.detalhes {
  color: #434343;
  display: flex;
  flex-direction: column;
}

span {
  margin: 3px 0;
  display: flex;
  align-items: center;
}

span svg {
  margin-right: 8px;
}

.btnSobrePet {
  background: #F6823F;
  border: none;
  padding: 11px 40px;
  margin-top: 15px !important;
  color: #FFF;
  font-weight: bold;
  border-radius: 30px !important;
}

.sobre {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.css-wmurvm {
  margin-bottom: 100px;
  margin-top: 50px !important;
}