/* Slider */
.slick-slider {
    position: relative;

    display: block;
    box-sizing: border-box;

    /* -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y; */
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    min-width: 600px;
    max-width: 1860px;
    height: 600px;
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

/* .slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
} */

.slick-track {
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* .slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
} */
/* .slick-track:after
{
    clear: both;
} */
/* .slick-loading .slick-track
{
    visibility: hidden;
} */

.slick-slide {
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;

}

/* [dir='rtl'] .slick-slide
{
    float: right;
} */
/* .slick-slide img
{
    display: block;
} */
/* .slick-slide.slick-loading img
{
    display: none;
} */
.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

/* .slick-loading .slick-slide
{
    visibility: hidden;
} */
/* .slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
} */
/* .slick-arrow.slick-hidden {
    display: none;
} */




/*Estilização dos botões*/

.meu-next-arrow::after {
    content: "Próximo";
}

.meu-prev-arrow::before {
    content: "Anterior";
}

.meu-prev-arrow {
    margin-top: 15%;
    /* margin-left: 15%; */
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #e01a1a;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 14px;
    z-index: 1;
}

.meu-next-arrow {
    margin-top: -15%;
    /* position: absolute; */
    float: right;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #3d0dec;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    font-size: 14px;
    z-index: 1;
}