.cardEncontrei {
  padding: 0;
  border: none;
  background-color: #fff;
}

.cardEncontrei p {
  width: 305px;
  color: #fff;
  font-weight: 600;
  position: absolute;
  font-size: 30px;
  margin-top: 15px;
  text-transform: uppercase;
}

.imagemPet {
  height: 450px;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.imagemPetEncontrado {
  width: 305px;
}

.mask {
  position: absolute;
  background-color: #00000036;
  height: 450px;
  width: 305px;
  padding: 0;
  border-radius: 20px;

}

.mask:hover {
  background-color: #00000000;

}

/*Modal*/
.css-4nrv91 {
  overflow-y: scroll;
  height: 700px;
}

#modal-modal-title div {
  margin-top: 10px;
}

#modal-modal-title p {
  font-size: 14px;

}

.logoModal {
  width: 200px !important;
}

/*Radio modal*/
.labelCachorro,
.labelGato {
  border: 1px solid rgb(228, 224, 224);
  border-radius: 10px;
  margin-top: 15px;

}

.css-vqmohf-MuiButtonBase-root-MuiRadio-root.Mui-checked {
  color: #f6823f !important;
}

.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  margin-right: 10px;
  margin-left: -11px;
}

/*Campo nome*/
.camposTextos p {
  color: #f6823f;
  font-size: small;
  margin-left: 2px;
  margin-top: 7px;
}

.titulocampoNome {
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 15px;
}

.input {
  width: 290px !important;
}

.inputResgate {
  border: 1px solid rgb(228, 224, 224) !important;
  border-radius: 10px !important;
  margin-left: 0px;
}

.css-6ffsbr-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 6px 0px 6px 6px !important;
}

#btnAnunciarResgate {
  font-weight: bold;
  box-shadow: none;
  padding: 10px;
  border-radius: 30px;
  text-transform: uppercase;
  background-color: #F6823F !important;
  width: 150px;
  border-radius: 30px;
  font-weight: bolder;
  margin-top: 20px;
  margin: auto;
  left: 36%;
}

#btnAnunciarResgate:hover {
  color: white;
  background-color: #f07a35 !important;
}