.link {
  color: #FFF;
  text-decoration: none;
  margin-right: 25px;
}

a:hover {
  color: #F6823F !important;
}

nav,
#botoes {
  display: flex;
  align-items: center;
}

.avatar {
  margin: 0 0 0 10px !important;
}

#logo1 {
  height: 45px;
  margin-right: 30px;
}

.sec1 {
  display: flex;
  align-items: center;
}

nav {
  background-color: #434343;
  display: flex;
  justify-content: space-between;
  padding: 10px 70px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.botao {
  border-radius: 10px !important;
  padding: 8px 30px;
  margin: 0 0 0 10px !important;
}

#cadastrarPet,
.btnLogin {
  background-color: #ffffff67;
  border: 1px solid #FFF;
  font-weight: 400;
  color: #FFF;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  margin-right: 20px;
  transition: 0.2s;
}

#cadastrarPet:hover,
.btnLogin:hover {
  background-color: #ffffff85;
  color: #FFF;
}

#adotar,
.btnCadastrarSe {
  background-color: #F6823F;
  color: #fff;
  border: none;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s;
}

#adotar:hover,
.btnCadastrarSe:hover {
  background-color: #f07a35 !important;
  color: #FFF;
}

.inputCadastro,
.inputLogin {
  border: 1px solid rgb(228, 224, 224) !important;
  border-radius: 10px !important;
  margin-left: 0px;
  width: 100%;
}

.camposTextosCadastro {
  display: flex;
  flex-direction: column;
}

.btnLoginUsuario {
  left: 0px !important;
}

.btnCancelarLogin {
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
}

button.btnLoginUsuario,
button.btnCadastroUsuario {
  background-color: #F6823F;
  color: #FFF;
  font-weight: bold !important;
  width: 150px;
  box-shadow: none;
  padding: 10px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  margin-top: 19px;
  transition: 0.2s;
}

button.btnLoginUsuario:hover,
button.btnCadastroUsuario:hover {
  background-color: #f07a35 !important;
  color: #FFF;
}

.btnCancelarCadastro,
.btnCancelarLogin {
  margin-top: 10px;
  font-size: 13px;
  cursor: pointer;
}