navbar,
#botoes {
  display: flex;
  align-items: center;
}

#logo1 {
  height: 60px;
}

navbar {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 20px 70px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#botao {
  margin: 0;
  height: 50px;
}