/* 
.MuiBox-root{
  margin: 0px
}
.MuiBox-root .css-12z84rh{
  margin: 0px;
} */
.capa {
  width: 100%;
  height: 100%;
}

.fotoperfil {
  width: 150px;
  z-index: 100;
  margin-left: 30px;
  margin-top: -65px;

  border-radius: 50%;
}

.informacaoUsuario {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin: 0;

}

.informacaoUsuario p {
  margin-top: -10px;
}

.userAndPet {
  display: flex;
  align-items: baseline;
  gap: 60px;
}

.iconPet {
  display: flex;
}

.iconPet p {
  margin-top: -5px;
}

/* modal */

#modal-modal-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}


#modal-modal-title h3 {
  color: #F6823F;
}

#modal-modal-title .logoModal {
  width: 150px;
  margin-bottom: 10px;

}

.MuiInputBase-root {
  margin-bottom: 20px;

}

.css-ix1f03-MuiTypography-root {
  display: flex;
  flex-direction: column;
}

#botaoEnviar {
  background-color: #F6823F;
  width: 50%;
  align-items: center;
}

.botaoCancelModal {
  float: right;
  color: rgba(128, 128, 128, 0.733);
}

.botaoCancelModal:hover {
  color: gray;
}