@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
  font-family: 'Poppins';
}
.capa {
  width: 100%;
  height: 100%;
}

/*perfil*/

.fotoperfil {
  width: 165px;
  height: 165px;
  z-index: 100;
  margin-left: 30px;
  margin-top: -65px;

  border-radius: 50%;
}

 .informacaoUsuario {
  display: flex;
  margin-left: 40px;

}

.informacaoUsuario p {
  margin-top: -10px;
} 

.userAndPet {
  display: flex !important;
  align-items: baseline !important;
}

.infoNameUserIcon{
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 20px;
}
.editarENome{
  display: flex;
}

.iconPet {
  display: flex;
  align-items: center;
  margin-left: 10px;

}

.iconPet p {
  margin: 0px;
}

/* modal */

#modal-modal-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}


#modal-modal-title h3 {
  color: #F6823F;
  text-transform: uppercase;
  font-weight: bolder;

}

#modal-modal-title .logoModal {
  width: 150px;
  margin-bottom: 10px;

}

#modal-modal-description{
  display: flex;
  flex-direction: column;
}

.css-ix1f03-MuiTypography-root {
  display: flex;
  flex-direction: column;
}


.botaoCancelModal {
  float: right;
  color: #F6823F;
  cursor: pointer;

}
.botaoCancelModal:hover {
  color: gray;
}

 /*campo input*/
#modal-modal-description .input{
  border: 1px solid rgb(228, 224, 224);
  border-radius: 10px;
  margin: 14px;
  margin-left: 0px;

}

/*Label*/

.titulocampo{
  font-size: 15px;
  margin-bottom: -5px;
  margin-top: 5px;
  font-weight: 600;
}
.divTituloCampo{
  display: flex;
  margin: 0px;
  margin-bottom: -20px;

}
.divTituloCampo p{
  color: red;
}

/*botão editar*/

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
  padding: 10px 10px !important;
}
#botaoEnviar{
  background-color:#F6823F !important;
  width: 150px;
  margin-left: 240px;
  border-radius: 30px;
  font-weight: bolder;
  margin-top: 20px;

}
#botaoEnviar:hover{
  color: white;
  background-color: #d47239 !important;
}

/*botão de adicionar foto*/
.tituloFile{
  padding: 10px;
  border-radius: 20px;
  font-size: 14px;
  width: 110px;
  background-color: #D7D7D7;
  color: #808080;
  text-align: center;
  margin-left: -5px;
  margin-top: 15px;
  cursor: pointer;
  z-index: 1;
}

 input[type="file"] {
  opacity: 0;

  cursor: pointer;
  z-index: 2;
  margin-top: -35px;
  margin-left: -140px;
}





