

.pets {
  display: flex;
  flex-wrap: wrap;
}

.opcoes {
  display: flex;
}

.busca {
  width: 466px;
  height: 100%;
  background: #F4FDFF;
  border: 1px solid #40D6FF;
  border-radius: 40px;
  padding: 40px;
  position: sticky;
  top: 50px;
  color: #434343;
}

.labelName {
  font-weight: bold;
  font-size: 19px;
  margin-bottom: -8px;
}

.tituloBusca {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #40D6FF;
  font-weight: bold;
}

button.filtro {
  background-color: #40D6FF;
  color: #FFF;
  font-weight: bold;
  padding: 10px;
  border-radius: 30px;
  width: 190px;
}

button.filtro:hover {
  background-color: #19C0EE;
}

.botaoos {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17px;
}

.gatoCachorroBtn {
  margin: 60px 0 20px 0;
  align-items: flex-end;
}

.btnGato {
  background: #F6823F;
  border: none;
  padding: 10px 40px;
  margin-top: 15px !important;
  color: #FFF;
  font-weight: bold;
  border-radius: 30px !important;
  transition: 0.2s;
  text-transform: uppercase;
}

.btnCachorro {
  background: #FFF;
  color: #bebebe;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px 40px;
  border-radius: 30px;
  border: 1px solid #D9D9D9;
}

.btnGato:hover {
  color: white;
  background-color: #f07a35 !important;
  box-shadow: none !important;
}

.inputResgateBuscar {
  width: 100%;
  background-color: #FFF;
  border-radius: 10px !important;
  padding: 0;
}